.single {
    padding: 2px 16px;
    background: #f79191;
    color: aliceblue;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #dfe3b3;
  }
  .single:hover {
    border-left: 8px solid #4979ff;
  }